body {
  background: url(../images/Color-background.jpg) no-repeat center center fixed;
  /*image by https://www.pexels.com/@scottwebb*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}