h1{
  @include font-size(36px);
}
body{
  font-family: $open-sans;
}
.background__blue{
  background-color: $blue;
}
.something{
  @include font-size(48px);
}
a{
  color: $white;
}
a:hover{
  color: $black;
}
.header{
  &--navbaricon{
    &__blue{
      border: 1px solid $blue;
    }
  }

  &--info{

    margin-top:40px;


    &__border{
      border: 20px solid $blue;
    }
    &__links{
      color: $black;
      @include font-size(20px);
      width: 100px;
      margin:10px;
      display: block;
    }
    &__links:hover{
      color: $blue;
    }
  }
}
.navbar-toggle{
  background-color: $white;
}



